[run]
branch = True
source = rt_eqcorrscan
concurrency = multiprocessing,thread
omit =
  rt_eqcorrscan/examples/*.py
  rt_eqcorrscan/plotting/plot_buffer.py
  rt_eqcorrscan/tests/*.py
  rt_eqcorrscan/console_scripts/*.py
[report]
exclude_lines =
   pragma: no cover
   raise AssertionError
   raise NotImplementedError
   if __name__ == .__main__.:

