# Annoyingly, although the long-description is found by setup.py it is not included
# in pypi's archive of the package, we need to include it here...

include README.md
include LICENCE.txt
include requirements.txt
recursive-include scripts/*
recursive-include rt_eqcorrscan
recursive-include rt_eqcorrscan/*
recursive-include docs
recursive-include tests

# exclude rules
global-exclude *.pyc *.ms *.tgz __pycahce__
prune docs/build
