numpy>=1.22.2
notifiers
matplotlib>=1.3.0
scipy>=1.10.0rc1
bokeh
obspy>=1.0.3
notifiers
h5py
pyyaml
pyproj>2.1
codecov
EQcorrscan>=0.5.0
tqdm
urllib3>=1.24.3
obsplus>=0.1.1
pytest>=2.0.0
pytest-cov
pytest-pep8
pytest-xdist
pytest-rerunfailures
pytest-mpl
pympler  # Required for memory tracking
psutil  # Required for memory tracking
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
